.nav{
    height: 9vh;
    width: 100%;
    background-color: #262525;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.login{
    background-color: black;
    color: white;
    border: 2px solid rgb(90, 85, 85);
    border-radius: 10%;
    height: 6vh;
    width: 6vw;
    font-size: 2.6vh;
}

.signup{
    background-color: black;
    color: white;
    border: none;
    font-size: 2.6vh;
}

.inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inner li{
    padding-right: 2vw;
}

ul.inner .hover {
    color: white; 
    padding: 10px; 
    transition: color 0.3s ease; 
}

ul.inner .hover:hover {
    color: yellow; 
}

