<div class="nav">

    <!-- <span *ngIf="isAdmin==false && isClient==false" style="color: white; margin-left: 1vw;">
        Car Rental Service
    </span> -->

   <!-- <div *ngIf="isAdmin==false && isClient==false"> -->
    <div>
        <span style="color: white; padding-left: 10px;">Welcome Admin!</span>
    </div>

    <ul class="inner" style="list-style: none;">
        <div class="box">
            <form name="search">
                <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
            </form>
            <mat-icon class="icon">search</mat-icon>
        </div>
        <a style="text-decoration: none;" routerLink="/add-car" class="hover">
            <p>Add car</p>
        </a>
        <a class="hover">
            Bookings
        </a>
    </ul>
   </div>

   <router-outlet></router-outlet>

<!-- </div> -->
