<form>
    <h3>Sign up Here</h3>

    <input type="text" placeholder="First name" id="First name">

    <input type="text" placeholder="Last name" id="Last name">

    <input type="text" placeholder="Email" id="username">

    <input type="password" placeholder="Password" id="password">

    <button class="signup-btn">Sign up</button>

    <a style="color: white; text-decoration: none;" routerLink="/login">
        <p>Already have an account?</p>
    </a> 
    
</form>

<router-outlet></router-outlet>
